@font-face {
    font-family: burb;
    src: url(fonts/burb.otf);

}


* {
    margin: 0;
    padding: 0;
    font-family: burb, sans-serif;
    
}

body{
    background: black;
    min-height: 1500px;
    //overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    //background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1000000;
}

#fortnite {
    position: relative;
    top: 0px;
    color: white;
    font-size: 10em;

    overflow: hidden;
    z-index: 1000000000;
    
    
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    overflow: hidden;
    color: white;
}
















html {
	//background: #f5f7f8;
	font-family: system-ui;
	-webkit-font-smoothing: antialiased;
	//padding: 20px 0;
}

header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
}

.band {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

@media (min-width: 30em) {
	.band {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 60em) {
	.band {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	background: white;
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	top: 0;
	transition: all .1s ease-in;
}

.card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h1 {
	font-size: 20px;
	margin: 0;
	color: #333;
}

.card p {
	flex: 1;
	line-height: 1.4;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 2em 0 0 0;
}

.card .thumb {
	padding-bottom: 60%;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 60em) {
	.item-1 {
		grid-column: 1 / span 2;
	}

	.item-1 h1 {
		font-size: 24px;
	}
}






@media (max-width: 640px) {


    
section {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    //background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1000000;
}

#fortnite {
    position: relative;
    top: 0px;
    color: white;
    font-size: 5em;

    overflow: hidden;
    z-index: 1000000000;
    
    
}

}



