@font-face {
    font-family: burb;
    src: url(fonts/burb.otf);

}



* {
    margin: 0;
    padding: 0;
    
    
}


.card {
    border: none;
    
}
body{
    background: black;
    min-height: 1500px;
    //overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: burb, sans-serif;
}

section:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    //background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1000000;
}

#fortnite {
    position: relative;
    top: 0px;
    color: white;
    font-size: 10em;

    overflow: hidden;
    z-index: 1000000000;
    
    
}

p {
    //font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    overflow: hidden;
    color: white;
}
















html {
	//background: #f5f7f8;
	font-family: system-ui;
	-webkit-font-smoothing: antialiased;
	//padding: 20px 0;
}

header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
}

.band {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
    grid-gap: 20px;
    font-family: burb, sans-serif;
    
}

.band h1{
    //font-size: 400px;
}

.band a {
    text-decoration: none;
}

@media (min-width: 30em) {
	.band {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 60em) {
	.band {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	background: white;
	text-decoration: none;
	color: #444;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	top: 0;
	transition: all .1s ease-in;
}

.card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
	padding: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h1 {
	font-size: 20px;
	margin: 0;
	color: #333;
}

.card p {
	flex: 1;
	line-height: 1.4;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 2em 0 0 0;
}

.card .thumb {
	padding-bottom: 60%;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 60em) {
	.item-1 {
		grid-column: 1 / span 2;
	}

	.item-1 h1 {
		font-size: 24px;
	}
}






@media (max-width: 640px) {


    
section {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    //background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section:after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(46, 255, 242, 0.8) 2.5%, rgba(65, 107, 255, 0.52) 100%);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1000000;
}

#fortnite {
    position: relative;
    top: 0px;
    color: white;
    font-size: 5em;

    overflow: hidden;
    z-index: 1000000000;
    
    
}

}



.site-footer
{
  font-family: Circular Std Bold;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  letter-spacing: 0px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:0px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}